.blog
  padding-top: 0
  overflow: hidden
  position: relative
  height: 692px
  background: url("../img/bg-news.jpg") no-repeat center
  background-size: cover
  .blog__btns
    z-index: 10
    position: absolute
    top: 315px
    right: 90px
    .blog__btn
      transition: all .5s ease
      border: 1px solid #b2b3b3
      border-radius: 50%
      height: 10px
      width: 10px
      cursor: pointer
      margin: 7px
    .active
      background-color: #b2b3b3
  h3, p
    text-align: left
  .blog__item
    margin-top: 75px
    transition: all 1.5s ease
    position: relative
    top: 0
    height: 617px
    color: #81868e
    .section-title
      color: $white
    .section-subtitle
      color: #b2b3b3
    .blog__item-article
      max-width: 600px
      margin-left: 70px
      .article-title
        color: #e1e4e9
        margin-bottom: 3px
      .article-auth
        font-family: "Source Sans Pro", sans-serif
        text-transform: uppercase
        font-style: italic
        font-weight: 300
        margin-bottom: 5px
        span
          color: $green
      .article-socials
        font-family: "Source Sans Pro", sans-serif
        font-weight: 300
        color: #464646
        margin-bottom: 50px
      .article-text
        margin-bottom: 45px
      .article-read
        color: #b2b3b3

  .blog__item1
    .blog__item-article
      margin-top: 75px
  .blog__item2
    .blog__video
      position: relative
      padding-bottom: 44.3%
      padding-top: 30px
      height: 0
      overflow: hidden
      iframe
        transition: all .5s ease
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        opacity: .1
        &:hover
          opacity: .7
  .blog__item3
    .section-title
      margin-top: 90px

@media screen and (max-width: 767px)
  .blog
    .blog__item
      .blog__item-article
        margin-left: 0